/* ALL common css start */
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
     font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
/* All common css end  */
/* Header part start  */
.header{
    background: white;
    padding:  10px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
display: flex;

}
.menu ul li a{
    padding:0px 35px ;
    line-height: 70px;
    font-size: 14;
   font-weight: 400px;
   text-transform: uppercase;
    color: black;
}
.button{
    padding: 18px 35px;
   background:#FD6E0A ;
   border-radius: 5px;
 color: #FFFFFF;
   font-size: 20px;
   font-weight: 700px;
   text-transform: uppercase;

}
/* Header part end  */
/* banaer part start  */
#banaerpart{
    background: teal;
  padding-top: 25px;
  padding-bottom: 22px;
}
.banaerflex{
    display: flex;

}
/* banaer part end  */